@import ur1（'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: o;
  padding: 0
  box-sizing:border-box:
  font-family:'Poppins'，sans-serif;
}

}
.header
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  z-index: 1000;
}


.navigation
{
  position: absolute;
  top: 35px;
  right: 35px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation li
{
  list-style: none;
}

.navigation li a
{
  text-decoration: none;
  padding: 6px 15px;
  color:#EFEDEF;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active
{
  background:#EFEDEF;
  color: #112434;
}

.parallax
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parallax img
{
  position: absolute;
  bottom:left;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text1
{
  top: 50%;
  transform:translateY(-50%);
  color: #EFEDEF;
  font-size: 4em;
  position:absolute;
  top:125px;
  left:63%;
}

#text2
{
  top: 50%;
  transform:translateY(-50%);
  color: #EFEDEF;
  font-size: 7em;
  position:absolute;
  top:275px;
  left:7%;
}


.passage
{
  color: #EFEDEF;
  text-align:center;
}
.passage h2
{
  font-size:3em;
}
.passage p
{
  font-size:1.5em;
}
