/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins'，sans-serif;
}
body{
  min-height: 100vh;
  background: #6990F2;
}

::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  width: 600px;
  height: 400px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  margin:auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

}
.wrapper header{
  color: #70F5E9;
  font-size: 40px;
  font-weight: 600;
  margin-left: 75px;
  margin-top: 160px;
  float:left;
}
.wrapper form{
  height: 300px;
  width: 230px;
  cursor: pointer;
  margin: 35px 0;
  float:right;
  margin-right: 75px;
  margin-top: 55px;
  flex-direction: column;
  border-radius: 10px;
  border: 2px dashed #70F5E9;

}
form :where(i, p){
  color: #70F5E9;
  text-align: center;
  margin:auto;
}
form i{
  font-size: 50px;
  margin-top: 95px;
  margin-left: 80px;
}
form p{
  margin-top: 30px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #6990F2;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}

@import ur1（'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  box-sizing:border-box:
}

}
.header
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  z-index: 1000;
}


.navigation
{
  position: absolute;
  top: 41px;
  right: 35px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation li
{
  list-style: none;
}

.navigation li a
{
  text-decoration: none;
  padding: 6px 15px;
  color:#EFEDEF;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active
{
  background:#EFEDEF;
  color: #112434;
}


:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin-top: 10px;
  padding: 0;
  margin-left:80px;
  margin-right: 80px;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 300px;
  width:300px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.3em;
  margin: .3em auto .1em;
  color: #000000;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.image-container {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}





@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}



.box {
    width: 1000px;
    height: 1350px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: rgba(50,50,50,0.2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
}


.box > h2 {
    color: rgba(255,255,255,0.9);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.box h3{
  color: #EFEDEF;
  margin-top: 23px;
  margin-left: 100px;
  margin-bottom: 5px;
}


.box .input-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 100px;
}

.box .input-box p {
    font-size: 13px;
    color: rgba(255,255,255,0.9);
    margin-bottom: 5px;
}

.box .input-box input {
    letter-spacing: 1px;
    font-size: 14px;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.2);
    outline: none;
    padding: 0 12px;
    color: rgba(255,255,255,0.9);
    transition: 0.2s;
}

.box .input-box input:focus {
    border: 1px solid rgba(255,255,255,0.8);
}


.box .input-box2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 100px;
}
.box .input-box2 input {
    letter-spacing: 1px;
    font-size: 14px;
    box-sizing: border-box;
    width: 800px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.2);
    outline: none;
    padding: 0 12px;
    color: rgba(255,255,255,0.9);
    transition: 0.2s;
}

.box .input-box2 input:focus {
    border: 1px solid rgba(255,255,255,0.8);
}



.container {
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.5);
  width: 90%;
  max-width: 34.37em;
  position: relative;
  margin: 3.12em auto;
  padding: 3.12em 1.25em;
  border-radius: 0.43em;
  box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  position: relative;
  background-image: linear-gradient(#F200D3, #70F5E9);
  color: #EFEDEF;
  font-size: 1.12em;
  font-weight: 500;
  text-align: center;
  width: 18.75em;
  padding: 1.12em 0;
  margin: auto;
  border-radius: 0.31em;
  cursor: pointer;
}
#num-of-files {
  font-weight: 400;
  text-align: center;
  color: #EFEDEF;
  margin: 1.25em 0 1.87em 0;
}
ul {
  list-style-type: none;
}
.container li {
  font-weight: 500;
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  color: #025bee;
  margin-bottom: 1em;
  padding: 1.1em 1em;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-between;
}
.container li p{
  color:#EFEDEF;
  font-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.view-modal, .popup{
  position: absolute;
  margin-top: 1670px;
  left: 50%;
}
button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.view-modal{
  top: 40%;
  color: #7d2ae8;
  font-size: 18px;
  padding: 10px 25px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.popup{
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}
.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span{
  font-size: 21px;
  font-weight: 600;
}
header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover{
  background: #ebedf9;
}
.popup .content{
  margin: 20px 0;
}
.popup .icons{
  margin: 15px 0 20px 0;
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.content p{
  font-size: 16px;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #8BC7FF;
  border-color: #B9E8FF;
}
.icons a:nth-child(1):hover{
  background: #2EDDFF;
}
.icons a:nth-child(2){
  color: #8BEBC1;
  border-color: #9AF2D1;
}
.icons a:nth-child(2):hover{
  background: #5DFF99;
}
.icons a:nth-child(3){
  color: #6C6C6C;
  border-color: #9D9D9D;
}
.icons a:nth-child(3):hover{
  background: #000000;
}
.icons a:nth-child(4){
  color: #FF4668;
  border-color: #FFAEA2;
}
.icons a:nth-child(4):hover{
  background: #FF2E2E;
}
.icons a:nth-child(5){
  color: #8BC7FF;
  border-color: #5DDDFF;
}
.icons a:nth-child(5):hover{
  background: #00C6FF;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  padding: 0 5px;
  border: 1px dashed #00000000;
}
.field.active{
  border-color: #00000000;
}
.field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i{
  color: #00000000;
}
.field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field button{
  color: #00000000;
  padding: 4px 15px;
  background: #00000000;

}
.field button:hover{
  background: #00000000;
}
